header {
    background-image: none !important;
    position: relative !important;
    color: #fff;
}

header .backgroundImg {
    z-index: -1;
}
header .overlay .headings h3{
    margin-top: 10px;
}

header .header-title {
    position: absolute;
    top: 0;
    width: 100%;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    height: 75px;
}

header .container .title {
    display: flex;
    height: 100%;
    float: left;
    align-items: center;
}

header .container .title * {
    margin: 0;
    margin-right: 10px !important;
}

header .container .userIcons {
    height: 100%;
    display: flex;
    align-items: center;
}

header .container .userIcons > * {
    margin: 0;
    margin-left: 15px;
}

header .overlay .headings * {
    text-align: center;
    color: #fff;
    margin: 0;
}

header .overlay .headings .pb-header-mark {
    float: none;
    vertical-align: middle;
    margin-left: 10px;
}

header .overlay .headings label {
    font-size: 24px;
}

header .overlay .headings .catlogBtn {
    margin-top: 35px;
}

a.magenta-btn {
    background: #cf0989;
    padding: 15px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

.pb-underline {
    position: relative;
}

.pb-underline::after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 40%;
    height: 2px;
    right: 0;
    background-image: linear-gradient(90deg, #3e53a4 0%, #cf0989 100%);
}

.userIcons a.loginBtn {
    background: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
}

.socialIcon img {
    width: 40px;
}

.displayFlex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

#quickStartGuide h2 {
    color: #3e53a4;
    margin-bottom: 0;
}

.qg-card, .profile-card {
    text-align: center;
}

.magenta-text {
    color: #cf0989;
}

.qg-cards {
    margin-top: 50px;
}

section#quickStartGuide, section#profiles, section#innovationThemes, section#pbApis,section#startUpKit {
    padding: 50px 0;
}

section#profiles h2 {
    margin: o
}

.questions {
    background: #EBEBEB;
    padding: 10px;
}

section#profiles .desc, section#profiles .footer {
    padding: 10px;
}

.profile-card {
    height: 716px;
    box-shadow: 0px 0px 4px grey;
    border-radius: 2px;
    position: relative;
    padding-top: 10px;
    background: #fff;
    z-index: 1;
}

section#profiles h3, section#profiles h4 {
    color: #3e53a4;
}

section#profiles .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

section#profiles {
    background-color: white; /* fallback */
    background-image: -webkit-linear-gradient(top, black 70%, white 30%);
    background-image: -moz-linear-gradient(top, black 70%, white 30%);
    background-image: -o-linear-gradient(top, black 70%, white 30%);
    background-image: linear-gradient(to bottom, black 70%, white 30%);
    position: relative;
}

section#profiles::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("images/Group 15.png");
    top: 0;
    left: 0;
    z-index: 0;
}

.qg-card .icon img {
    width: 60px;
    height: 60px;
}

.theme-card {
    padding: 15px 7px;
    box-shadow: 0 0 2px grey;
    margin: 10px 0;
}

.theme-card img {
    width: 100%;
}

.theme-card h5 {
    font-weight: bold;
}

section#innovationThemes .col-md-2 {
    padding: 0 6px;
}

section#pbApis h2.pb-underline {
    margin-bottom: 0;
}

.api-card img {
    width: 100%;
}

.api-card .apiList {
    display: flex;
    padding: 10px 7px;
}

.api-card .apiList .icon {
    width: 50px;
    flex-shrink: 0;
}

.api-card .apiList ul {
    color: #3e53a4;
    font-weight: bold;
}

.api-card {
    box-shadow: 0 0 2px grey;
    position: relative;
    padding-bottom: 30px;
    height: 338px;
    background: #fff;
    z-index: 1;
}

.api-card .desc {
    padding: 7px;
}

.api-card .learnMore {
    text-decoration: none;
    padding: 7px;
    position: absolute;
    bottom: 0;
}

section#pbApis {
    position: relative;
}

section#pbApis::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
    background: black;
    z-index: -1;
}

section#pbApis::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 70%;
    width: 100%;
    background: url(images/bg2.png);
    z-index: 0;
}

section#pbApis h5 {
    color: #c0c0c0;
}

footer .pblogo img {
    width: 100%;
}

footer h5 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 12px;
}

footer a {
    color: #3e53a4;
    display: block;
    margin-bottom: 5px;
}

footer .socialLinks {
    display: flex;
}

footer .socialLinks .icon {
    width: 30px;
    height: 30px;
    margin: 0 2px;
}

footer .socialLinks .icon img {
    width: 100%;
}

section#downloadCatlog {
    background: black;
}

section#downloadCatlog .btnWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

section#downloadCatlog h2 {
    margin: 0;
    color: #e1e1e1;
}
.kit-card .icon{
    width: 40px;
    height: 40px;
}
.kit-card .icon img{
    width: 100%;
    height: 100%;
}
.kit-card h4{
    color: #3e53a4;
}
.kit-card li {
    color: #3e53a4;
}
.kit-card li p{
    color:#717171;
}
.kit-card{
    background: #fff;
    box-shadow: 0 0 2px grey;
    padding: 10px;
}
span.bold{
    font-weight: bold;
    color: black;
}
.kit-card.outer{
    padding: 20px;
}
.kit-card.inner {
    box-shadow: 0px 2px 6px #c0c0c0;
}
.kit-card.inner>p{
    padding-left: 20px;
    margin-top: 20px;
}
.kit-card.inner{
    height: 410px;
}
.kit-card.claim{
    height: 535.78px;
}
section#startUpKit{
    position: relative;
    padding-bottom: 150px;
}
section#startUpKit .backgroundImg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 180px;
}
section#startUpKit .backgroundImg img{
    width: 100%;
}
#pbRecoveryLib .heading{
    padding: 30px;
    background: black;
}
#pbRecoveryLib .heading .icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
#pbRecoveryLib .heading .icon img{
    width: 100%;
}
#pbRecoveryLib .heading h2{
    margin: 0;
}
#pbRecoveryLib .webinar{
    padding-bottom: 30px;
}
#pbRecoveryLib .webinar label{
    color: black;
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
}
#pbRecoveryLib .container-fluid{
    box-shadow: 2px 2px 2px #c0c0c0;
}
#pbRecoveryLib {
    padding-bottom: 50px;
}
section.toolkitSection a{
    text-decoration: none;
    color: #717171;
}
.carousalContainer iframe{
    width: 100%;
    outline: none !important;
}
.carousalContainer iframe:focus{
    outline: none !important;
}
.slick-slide{
    outline: none !important;
}
#downloadCatlog h4{
    margin: 0;
    color: #e1e1e1;
}

@media only screen and (max-width: 991px) {
    .api-card{
        height: auto;
        margin-bottom: 15px;
    }
}