<header>
    <div class="backgroundImg">
        <div class="image">
            <img src="images/Banner Image.png" class="img-responsive">
        </div>
        <div class="overlay">
            <div class="headings">
                <div>
                   <label>pitney bowes
                         <a href="http://pb.com" target="_blank" class="pb-header-mark"></a>
                   </label>
                   
                </div>
                <h1 style="font-size: 55px;" class="pb-underline">Startup Pack for SMBs</h1>
                <div class="catlogBtn">
                    <a href="" class="magenta-btn">Download PB Startup Catalog</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="header-title">
        <div class="container">
            <div class="title">
                <a href="http://pb.com" target="_blank" class="pb-header-mark"></a>
                <label>pitney bowes</label>
            </div>
            <div class="userIcons pull-right">
                <a href="" class="loginBtn">SIGNUP \ LOGIN</a>
                <a href="" class="socialIcon">
                    <img src="images/1-FB.png">
                </a>
                <a href="" class="socialIcon">
                    <img src="images/2-gplus.png">
                </a>
                <a href="" class="socialIcon">
                    <img src="images/3-Twitter.png">
                </a>
                <a href="" class="socialIcon">
                    <img src="images/4-Linkdin.png">
                </a>
            </div>
        </div>
        
    </div>
</header>
<section id="quickStartGuide">
    <div class="container">
        <div class="displayFlex flex-center">
            <h2 class="pb-underline">Quick Start Guide</h2>
        </div>
        <div class="displayFlex flex-center">
            <h5>Infinite Possibilities, One Platform</h5>
        </div>

        <div class="row qg-cards">
            <div class="col-md-3">
                <div class="qg-card">
                    <div class="icon">
                        <div>
                            <img src="images/Discovery Icon copy.png">
                            <h3 class="magenta-text">Discovery</h3>
                        </div>
                    </div>
                    <div class="desc">
                        <p>
                            Recognise true project definition Establish effective communication channel Define project goals
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="qg-card">
                    <div class="icon">
                        <div>
                            <img src="images/Design Icon.png">
                            <h3 class="magenta-text">Design</h3>
                        </div>
                    </div>
                    <div class="desc">
                        <p>
                            Comply on initial phase of plan details. 
                            Re-analyze discover phase plan outline
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="qg-card">
                    <div class="icon">
                        <div>
                            <img src="images/Development Icon.png">
                            <h3 class="magenta-text">Development</h3>
                        </div>
                    </div>
                    <div class="desc">
                        <p>
                            Address issues with resolution and further recommendation Approve the detail plan
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="qg-card">
                    <div class="icon">
                        <div>
                            <img src="images/Deployment Icon.png">
                            <h3 class="magenta-text">Deployment</h3>
                        </div>
                    </div>
                    <div class="desc">
                        <p>
                            Check for test environment set up and test application process Agree to full support on occasional repair and reporting Be ready with deliverables
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="profiles">
    <div class="container">
        <div class="displayFlex flex-center">
            <h2 class="pb-underline magenta-text">Who you are building for</h2>
        </div>

        <div class="row qg-cards">
            <div class="col-md-3 " ng-repeat="profile in profiles">
                <div class="profile-card">
                    <div class="icon">
                        <div>
                            <img ng-src="{{'images/'+profile.icon}}">
                            <h3 class="magenta-text">{{profile.name}}</h3>
                        </div>
                    </div>
                    <div class="desc">
                        <p>
                            {{profile.desc}}
                        </p>
                    </div>
                    <div class="questions">
                        <p ng-repeat="q in profile.questions">"{{q}}"</p>
                        
                    </div>
                    <div class="footer">
                        <h4>Similar Profiles</h4>
                        <p ng-repeat="simipro in profile.similarProfiles">
                            {{simipro}}
                        </p>
                        
                    </div>
                </div>
            </div>   

        </div>
    </div>
</section>
<section id="innovationThemes">
    <div class="container">
        <div class="displayFlex flex-center">
            <h2 class="pb-underline magenta-text">Innovation Themes</h2>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Shipping and Mailing.png" />
                        </div>
                        <h5>Shipping and Mailing</h5>
                    </div>
                    <div class="desc">
                        <p>Optimized shipping rates across the carriers</p>
                        <p>Postal Apps of USPC, UPS with features like Informed Delivery, Pick & Drop etc.</p>
                    </div>
                </div>

                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Know your customers.png" />
                        </div>
                        <h5>Know Your Customer</h5>
                    </div>
                    <div class="desc">
                        <p>Provide single view of your customer</p>
                        <p>Asses potential risk that your customer has on your business</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Ecommerce.png" />
                        </div>
                        <h5>Ecommerce</h5>
                    </div>
                    <div class="desc">
                        <p>Directly print shipping labels from Ecommerce portals/carts like Magento, Shopify</p>
                        <p>Identify insurance rates corresponding to product type, location etc.</p>
                        <p>Multisite Inventory Management</p>
                        <p>Returns Management/Reverse Logistics</p>
                    </div>
                </div>

                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Social.png" />
                        </div>
                        <h5>Social</h5>
                    </div>
                    <div class="desc">
                        <p>Social CRM solution for SMBs</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Duties and Taxes.png" />
                        </div>
                        <h5>Duty and Taxes</h5>
                    </div>
                    <div class="desc">
                        <p>Ship internationally with known Duties & taxes</p>
                        <p>Integrate local tax rates into your billing </p>
                        
                    </div>
                </div>

                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Location Intelligence.png" />
                        </div>
                        <h5>Location Intelligence</h5>
                    </div>
                    <div class="desc">
                        <p>Track delivery through a live map; manage pickup & drop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Address management.png" />
                        </div>
                        <h5>Address Management</h5>
                    </div>
                    <div class="desc">
                        <p>Cleanse and verify addresses</p>
                        <p>Add address autocomplete feature in your apps and websites</p>
                        
                    </div>
                </div>

                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Hyperlocal.png" />
                        </div>
                        <h5>Hyperlocal</h5>
                    </div>
                    <div class="desc">
                        <p>Manage pick up & delivery from a local courier network like Uber Rush, Lyft etc</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Productivity tool.png" />
                        </div>
                        <h5>Productivity Tools</h5>
                    </div>
                    <div class="desc">
                        <p>Directly ship from customer address data stored in Online spreadsheets</p>
                        
                    </div>
                </div>

                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Document Security.png" />
                        </div>
                        <h5>Document Security</h5>
                    </div>
                    <div class="desc">
                        <p>Document Management: contracts and signed docs; electronic signature and digital transaction management</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Ink and Supplies.png" />
                        </div>
                        <h5>Ink & Supplies</h5>
                    </div>
                    <div class="desc">
                        <p>Automated postage rate updates, low postage alerts, AutoInk technology, usage tracking and analytics</p>
                        
                    </div>
                </div>

                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Grow your customer.png" />
                        </div>
                        <h5>Grow Your Customer</h5>
                    </div>
                    <div class="desc">
                        <p>LI for Marketing</p>
                        <p>Optimize and scale local marketing through Yext, Acquisio etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pbApis">
    <div class="container">
        <div class="displayFlex flex-center">
            <h2 class="pb-underline magenta-text">
                What we are offering - PB APIs
            </h2>
        </div>
        <div class="displayFlex flex-center">
            <h5>Solve your business problems with enterprise-class commerce technology from Pitney Bowes.</h5>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col-md-8 col-md-offset-2" style="padding: 0">
                <div class="col-md-4">
                    <div class="api-card">
                        <div class="heading">
                            <div class="icon">
                                <img src="images/Shipping API.png">
                            </div>
                        </div>
                        <div class="apiList">
                            <div class="icon">
                                <img src="images/Ship Icon.png" />
                            </div>
                            <div class="list">
                                <ul>
                                    <li>Ship APIs</li>
                                    <li>Duty Calculator APIs</li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="desc">
                            <p>Easily integrate USPS services into your platform - it's shipping made simple.</p>
                        </div>
                        <a href="" class="learnMore">Learn more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="api-card">
                        <div class="heading">
                            <div class="icon">
                                <img src="images/Identify API.png">
                            </div>
                        </div>
                        <div class="apiList">
                            <div class="icon">
                                <img src="images/Identify icon.png" />
                            </div>
                            <div class="list">
                                <ul>
                                    <li>Identify APIs</li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="desc">
                            <p>Break down names and addresses, correct and validate your data, then add insight about your customers.</p>
                        </div>
                        <a href="" class="learnMore">Learn more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="api-card">
                        <div class="heading">
                            <div class="icon">
                                <img src="images/Location API.png">
                            </div>
                        </div>
                        <div class="apiList">
                            <div class="icon">
                                <img src="images/Locate Icon.png" />
                            </div>
                            <div class="list">
                                <ul>
                                    <li>Locate APIs</li>
                                    <li>Location Intelligence for Marketing APIs</li>
                                </ul>
                            </div>
                            
                        </div>
                        <div class="desc">
                            <p>Incorporate our extensive geodata into everyday applications, businesses processes and workflows.</p>
                        </div>
                        <a href="" class="learnMore">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="pblogo">
                    <img src="images/Group 23.png">
                </div>
            </div>
            <div class="col-md-2">
                <h5>About Pitney bowes</h5>
                <a href="">Our Company</a>
                <a href="">Newsroom</a>
            </div>
            <div class="col-md-2">
                <h5>Shop</h5>
                <a href="">Postage Meters</a>
                <a href="">Online Postage</a>
                
            </div>
            <div class="col-md-2">
                <h5>Customer Service</h5>
                <a href="">View & Pay Bills</a>
                <a href="">Product Support</a>
                
            </div>
            <div class="col-md-2">
                <h5>Follow Us</h5>
                <div class="socialLinks">
                    <div class="icon">
                        <a href=""><img src="images/1-FB.png"></a>
                    </div>
                    <div class="icon">
                        <a href=""><img src="images/2-gplus.png"></a>
                    </div>
                    <div class="icon">
                        <a href=""><img src="images/3-Twitter.png"></a>
                    </div>
                    <div class="icon">
                        <a href=""><img src="images/4-Linkdin.png"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <h5>1996-2017 Pitney Bowes Inc. All rights reserved.</h5>
                <a href="">Legal</a>
                <a href="">Privacy Statement</a>
                
            </div>
        </div>
    </div>
</footer>