<header>
    <div class="backgroundImg">
        <div class="image">
            <img src="images/Banner Image.png" class="img-responsive">
        </div>
        <div class="overlay">
            <div class="headings">
                <div>
                    <label>pitney bowes
                        <a href="http://pb.com" target="_blank" class="pb-header-mark"></a>
                    </label>

                </div>
                <h1 style="font-size: 55px;" class="pb-underline">Startup Pack for SMB Solutions</h1>
                <div class="catlogBtn">
                    <a href="" class="magenta-btn">Download PB Startup Catalog</a>
                </div>

            </div>
        </div>
    </div>
    <div class="header-title">
        <div class="container">
            <div class="title">
                <a href="http://pb.com" target="_blank" class="pb-header-mark"></a>
                <label>pitney bowes</label>
            </div>
            <div class="userIcons pull-right">
                <a href="" class="loginBtn">SIGNUP \ LOGIN</a>
                <a href="" class="socialIcon">
                    <img src="images/1-FB.png">
                </a>
                <a href="" class="socialIcon">
                    <img src="images/2-gplus.png">
                </a>
                <a href="" class="socialIcon">
                    <img src="images/3-Twitter.png">
                </a>
                <a href="" class="socialIcon">
                    <img src="images/4-Linkdin.png">
                </a>
            </div>
        </div>

    </div>
</header>
<section id="quickStartGuide">
    <div class="container">
        <div class="displayFlex flex-center">
            <h2 class="pb-underline">Quick Start Guide</h2>
        </div>
        <div class="displayFlex flex-center">
            <h5>Infinite Possibilities, One Platform</h5>
        </div>

        <div class="row qg-cards">
            <div class="col-md-3">
                <div class="qg-card">
                    <div class="icon">
                        <div>
                            <img src="images/Discovery Icon copy.png">
                            <h3 class="magenta-text">Discovery</h3>
                        </div>
                    </div>
                    <div class="desc">
                        <p>
                            Recognise true project definition Establish effective communication channel Define project
                            goals
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="qg-card">
                    <div class="icon">
                        <div>
                            <img src="images/Design Icon.png">
                            <h3 class="magenta-text">Design</h3>
                        </div>
                    </div>
                    <div class="desc">
                        <p>
                            Comply on initial phase of plan details.
                            Re-analyze discover phase plan outline
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="qg-card">
                    <div class="icon">
                        <div>
                            <img src="images/Development Icon.png">
                            <h3 class="magenta-text">Development</h3>
                        </div>
                    </div>
                    <div class="desc">
                        <p>
                            Address issues with resolution and further recommendation Approve the detail plan
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="qg-card">
                    <div class="icon">
                        <div>
                            <img src="images/Deployment Icon.png">
                            <h3 class="magenta-text">Deployment</h3>
                        </div>
                    </div>
                    <div class="desc">
                        <p>
                            Check for test environment set up and test application process Agree to full support on
                            occasional repair and reporting Be ready with deliverables
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="profiles">
    <div class="container">
        <div class="displayFlex flex-center">
            <h2 class="pb-underline magenta-text">Who you are building for</h2>
        </div>

        <div class="row qg-cards">
            <div class="col-md-3 " ng-repeat="profile in profiles">
                <div class="profile-card">
                    <div class="icon">
                        <div>
                            <img ng-src="{{'images/'+profile.icon}}">
                            <h3 class="magenta-text">{{profile.name}}</h3>
                        </div>
                    </div>
                    <div class="desc">
                        <p>
                            {{profile.desc}}
                        </p>
                    </div>
                    <div class="questions">
                        <p ng-repeat="q in profile.questions">"{{q}}"</p>

                    </div>
                    <div class="footer">
                        <h4>Similar Profiles</h4>
                        <p ng-repeat="simipro in profile.similarProfiles">
                            {{simipro}}
                        </p>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<section id="innovationThemes">
    <div class="container">
        <div class="displayFlex flex-center">
            <h2 class="pb-underline magenta-text">Innovation Themes</h2>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Shipping and Mailing.png"/>
                        </div>
                        <h5>Shipping and Mailing</h5>
                    </div>
                    <div class="desc">
                        <p>Optimized shipping rates across the carriers</p>
                        <p>Postal Apps of USPC, UPS with features like Informed Delivery, Pick & Drop
                            etc.</p>
                    </div>
                </div>

                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Know your customers.png"/>
                        </div>
                        <h5>Know Your Customer</h5>
                    </div>
                    <div class="desc">
                        <p>Provide single view of your customer</p>
                        <p>Asses potential risk that your customer has on your business</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Ecommerce.png"/>
                        </div>
                        <h5>Ecommerce</h5>
                    </div>
                    <div class="desc">
                        <p>Directly print shipping labels from Ecommerce portals/carts like Magento,
                            Shopify</p>
                        <p>Identify insurance rates corresponding to product type, location etc.</p>
                        <p>Multisite Inventory Management</p>
                        <p>Returns Management/Reverse Logistics</p>
                    </div>
                </div>

                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Social.png"/>
                        </div>
                        <h5>Social</h5>
                    </div>
                    <div class="desc">
                        <p>Social CRM solution for SMBs</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Duties and Taxes.png"/>
                        </div>
                        <h5>Duty and Taxes</h5>
                    </div>
                    <div class="desc">
                        <p>Ship internationally with known Duties & taxes</p>
                        <p>Integrate local tax rates into your billing </p>

                    </div>
                </div>

                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Location Intelligence.png"/>
                        </div>
                        <h5>Location Intelligence</h5>
                    </div>
                    <div class="desc">
                        <p>Track delivery through a live map; manage pickup & drop</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Address management.png"/>
                        </div>
                        <h5>Address Management</h5>
                    </div>
                    <div class="desc">
                        <p>Cleanse and verify addresses</p>
                        <p>Add address autocomplete feature in your apps and websites</p>

                    </div>
                </div>

                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Hyperlocal.png"/>
                        </div>
                        <h5>Hyperlocal</h5>
                    </div>
                    <div class="desc">
                        <p>Manage pick up & delivery from a local courier network like Uber Rush, Lyft
                            etc</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Productivity tool.png"/>
                        </div>
                        <h5>Productivity Tools</h5>
                    </div>
                    <div class="desc">
                        <p>Directly ship from customer address data stored in Online spreadsheets</p>

                    </div>
                </div>

                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Document Security.png"/>
                        </div>
                        <h5>Document Security</h5>
                    </div>
                    <div class="desc">
                        <p>Document Management: contracts and signed docs; electronic signature and
                            digital transaction management</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Ink and Supplies.png"/>
                        </div>
                        <h5>Ink & Supplies</h5>
                    </div>
                    <div class="desc">
                        <p>Automated postage rate updates, low postage alerts, AutoInk technology, usage
                            tracking and analytics</p>

                    </div>
                </div>

                <div class="theme-card">
                    <div class="heading">
                        <div class="icon">
                            <img src="images/Grow your customer.png"/>
                        </div>
                        <h5>Grow Your Customer</h5>
                    </div>
                    <div class="desc">
                        <p>LI for Marketing</p>
                        <p>Optimize and scale local marketing through Yext, Acquisio etc.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="pbApis">
    <div class="container">
        <div class="displayFlex flex-center">
            <h2 class="pb-underline magenta-text">
                What we are offering - PB APIs
            </h2>
        </div>
        <div class="displayFlex flex-center">
            <h5>Solve your business problems with enterprise-class commerce technology from Pitney
                Bowes.</h5>
        </div>

        <div class="row" style="margin-top: 50px;">
            <div class="col-md-8 col-md-offset-2" style="padding: 0">
                <div class="col-md-4">
                    <div class="api-card">
                        <div class="heading">
                            <div class="icon">
                                <img src="images/Shipping API.png">
                            </div>
                        </div>
                        <div class="apiList">
                            <div class="icon">
                                <img src="images/Ship Icon.png"/>
                            </div>
                            <div class="list">
                                <ul>
                                    <li>Ship APIs</li>
                                    <li>Duty Calculator APIs</li>
                                </ul>
                            </div>

                        </div>
                        <div class="desc">
                            <p>Easily integrate USPS services into your platform - it's shipping made
                                simple.</p>
                        </div>
                        <a href="" class="learnMore">Learn more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="api-card">
                        <div class="heading">
                            <div class="icon">
                                <img src="images/Identify API.png">
                            </div>
                        </div>
                        <div class="apiList">
                            <div class="icon">
                                <img src="images/Identify icon.png"/>
                            </div>
                            <div class="list">
                                <ul>
                                    <li>Identify APIs</li>
                                </ul>
                            </div>

                        </div>
                        <div class="desc">
                            <p>Break down names and addresses, correct and validate your data, then add
                                insight about your customers.</p>
                        </div>
                        <a href="" class="learnMore">Learn more</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="api-card">
                        <div class="heading">
                            <div class="icon">
                                <img src="images/Location API.png">
                            </div>
                        </div>
                        <div class="apiList">
                            <div class="icon">
                                <img src="images/Locate Icon.png"/>
                            </div>
                            <div class="list">
                                <ul>
                                    <li>Locate APIs</li>
                                    <li>Location Intelligence for Marketing APIs</li>
                                </ul>
                            </div>

                        </div>
                        <div class="desc">
                            <p>Incorporate our extensive geodata into everyday applications, businesses
                                processes and workflows.</p>
                        </div>
                        <a href="" class="learnMore">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="toolkitSection">
    <div class="row">
        <div class="col-md-12">
            <div class="displayFlex flex-center">
                <h2 class="pb-underline magenta-text">
                    Partners Tool Kit & Cloud Credits
                </h2>
            </div>
            <h5 align="center" style="margin-bottom: 50px;font-weight: bold">Build Application
                with the help of
                our Partners
                Resources</h5>
            <div class="col-md-3" style="margin-bottom: 20px">
                <div class="card">
                    <div class="logo"><img class="img1" src="images/Xamarin icon.png"/></div>
                    <label style="color: #3e53a4;margin-top: 10px">Xamarin</label>
                    <div class="desc">Xamarin brings power and productivity of .NET to iOS and Androi, reusing
                        skills and code
                        while
                        getting access to the native API'S and performance.
                    </div>
                    <h5 align="left" class="bottomHeading">Xamarin toolkit from Microsoft</h5>
                </div>
            </div>
            <div class="col-md-3" style="margin-bottom: 20px">
                <div class="card">
                    <div class="logo"><img class="img2" src="images/Zoho Icon.png"/></div>
                    <label style="color: #3e53a4;margin-top: 10px">Zoho Creator platform</label>
                    <div class="desc">Zoho Creator is an app development platform that is a part of zoho suit.It
                        is a
                        cloud-based
                        development environment that allows developers to build database-backend enterprise apps
                        for the web and
                        mobile -
                        in a seamless and integrated manner.
                    </div>
                    <h5 align="left" class="bottomHeading">Zoho Creator platform</h5>
                </div>
            </div>
            <div class="col-md-3" style="margin-bottom: 20px">
                <div class="card">
                    <div class="logo"><img class="img4" src="images/Algorithimia Icon.png"/></div>
                    <label style="color: #3e53a4;margin-top: 10px">Algorithmia</label>
                    <div class="desc">Algorithmia is an open for marketplace algorithms, enabling developers to
                        create tomorrows
                        smart
                        applications today.
                        It gives developers the ability to turn algorithms into scalable web services with
                        single click.
                    </div>
                    <h5 align="center" class="bottomHeading">Algorithmia</h5>
                </div>
            </div>
            <div class="col-md-3" style="margin-bottom: 20px">
                <div class="card">
                    <div class="logo"><img class="img4" src="images/Digital Ocean Icon.png"/></div>
                    <label style="color: #3e53a4;margin-top: 10px">Cloud Credits: Digital Ocean</label>
                    <div class="desc">We would be offering cloud credits to Developers.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faqContainer">
    <div class="row">
        <div class="col-md-6 faqImage">
            <img src="images/Address management.png" style="width:102%;"/>
        </div>
        <div class="col-md-6 faqText">
            <h3><span style="color:white">FAQS</span></h3>
            <div class="qSection">
                <div class="qSectionLine">
                    <i class="nc-icon-mini arrows-1_minimal-right"></i><span>
                        What is the PB API?
                    </span>
                </div>
                <div class="qSectionLine">
                    <i class="nc-icon-mini arrows-1_minimal-right"></i><span>
                        How can i be notified when there are changes to the API's?
                    </span>
                </div>
                <div class="qSectionLine">
                    <i class="nc-icon-mini arrows-1_minimal-right"></i><span>
                        What are the Terms and Conditions for using PB API's?
                    </span>
                </div>
                <div class="qSectionLine">
                    <i class="nc-icon-mini arrows-1_minimal-right"></i><span>
                        I have been granted access to PB API's Developer Portal.What next?
                    </span>
                </div>
                <div class="qSectionLine">
                    <i class="nc-icon-mini arrows-1_minimal-right"></i><span>
                        How do i report bug or request a new feature?
                    </span>
                </div>
                <div class="qSectionLine">
                    <i class="nc-icon-mini arrows-1_minimal-right"></i><span>
                        What does the #error mean?
                    </span>
                </div>
                <div class="qSectionLine">
                    <i class="nc-icon-mini arrows-1_minimal-right"></i><span>
                        I got access the PBAPI Developer Portal? What's next?
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="demoAppsSection">
    <div class="displayFlex flex-center">
        <h2 class="pb-underline magenta-text">
            Demo Apps
        </h2>
    </div>
    <div class="mainContentWrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12" style="margin-top: 15px;margin-bottom: 10px">
                    <div class="col-md-2" style="margin-bottom: 10px"></div>
                    <div class="col-md-4" style="margin-bottom: 10px">
                        <div class="content gradient-bar">
                            <h4 style="color:#3e53a4" class="subheading pb-underline">LocationAPIsAPP</h4>
                            <div class="imgDiv">
                                <img src="images/Phone 1.png"
                                     style="width:40%;height:100%;margin-left: 10px"/>
                                <img src="images/Phone 1 copy.png"
                                     style="width:40%;height:100%;margin-left: 10px"/>
                            </div>
                            <div class="appDesc">
                                This demo app uses Pitney Bowes Location
                                Intelligence APIs to locate list of
                                customers
                                within a
                                specific
                                drive time interval and could be used for
                                targeted marketing purpose.
                                e.g. Identify all users living within
                                60-minute Driving radius for promotional
                                offers.
                            </div>
                            <div style="margin-top: 10px;margin-bottom: 10px">
                                <label style="color: black">Download the
                                    source code from github:</label>
                                <div class="pinkText"
                                     style="word-wrap: break-word;">
                                    https://github.com/csdhackathon/LocationAPIsApp
                                </div>
                            </div>
                            <div style="margin-bottom: 10px">
                                <label style="color: black">Learn more about
                                    the sample App:</label>
                                <div class="pinkText"
                                     style="word-wrap: break-word;">
                                    https://github.com/csdhackathon/LocationAPIsApp/blob/master/README.md
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="margin-bottom: 10px">
                        <div class="content gradient-bar">
                            <h4 style="color:#3e53a4" class="subheading pb-underline">
                                IdentifyAddressDemo</h4>
                            <div class="imgDiv">
                                <img src="images/Phone 1 copy 2.png"
                                     style="width:40%;height:100%;margin-left: 10px"/>
                                <img src="images/Phone 1 copy 3.png"
                                     style="width:40%;height:100%;margin-left: 10px"/>
                            </div>
                            <div class="appDesc">
                                This demo app uses Pitney Bowes Identify
                                APIs to validate a given address and
                                to know demographics details of the
                                customer.
                            </div>
                            <div style="margin-top: 10px;margin-bottom: 10px">
                                <label style="color: black">Download the
                                    source code from github:</label>
                                <div class="pinkText"
                                     style="word-wrap: break-word;">
                                    https://github.com/csdhackathon/IdentifyAddressDemo
                                </div>
                            </div>
                            <div style="margin-bottom: 10px">
                                <label style="color: black">Learn more about
                                    the sample App:</label>
                                <div class="pinkText"
                                     style="word-wrap: break-word;">
                                    https://github.com/csdhackathon/IdentifyAddressDemo/blob/master/README.md
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2" style="margin-bottom: 10px"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="importBuildSection">
    <div class="displayFlex flex-center">
        <h2 class="pb-underline magenta-text">
            Import, Build & Run
        </h2>
    </div>
    <div class="importContentWrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mainContent">
                        <div class="col-md-4 col-md-offset-0"
                             style="margin-bottom: 10px">
                            <div class="content gradient-bar">
                                <div style="width: 100%;overflow: hidden;text-align: left;">
                                    <img
                                            src="images/import icon.png"
                                            style="width: 6%;">
                                </div>

                                <h3 style="color:#3e53a4;font-weight: normal" class="subheading pb-underline">Import
                                    Demo Apps</h3>

                                <div class="appDesc2">
                                    <div class="qSectionLine">• You may use Android
                                        Studio or any other IDE of your
                                        choice
                                        to
                                        explore the demo Apps.
                                    </div>
                                    <div class="qSectionLine">• Import App in
                                        Android Studio:
                                    </div>
                                    <div class="qSectionLine"
                                         style="margin-left: 20px">
                                        <div class="qSectionLine">o Open Android
                                            Studio.
                                        </div>
                                        <div class="qSectionLine">o Click on “Open
                                            an existing Android Project”
                                        </div>
                                        <div class="qSectionLine">o Navigate to the
                                            folder where Demo App is downloaded
                                            and
                                            click
                                            “ok”.
                                        </div>
                                        <div class="qSectionLine">o If you have
                                            GitHub account, you can directly import
                                            by
                                            using
                                            “checkout project from
                                            version control” and following the
                                            wizard.
                                        </div>
                                        <div class="qSectionLine">o Once imported
                                            Android Studio will compile and may
                                            prompt
                                            for
                                            download additional SDK
                                            tools.
                                        </div>
                                        <div class="qSectionLine">o Follow the
                                            readme document of demo App and add your
                                            API
                                            keys and
                                            secret at specified
                                            locations.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="margin-bottom: 10px">
                            <div class="content gradient-bar">
                                <div style="width: 100%;overflow: hidden;text-align: left;">
                                    <img
                                            src="images/BuildApp Icon.png"
                                            style="width: 6%;">
                                </div>
                                <h3 style="color:#3e53a4;font-weight: normal" class="subheading pb-underline">Build
                                    App and Run on emulator</h3>
                                <div class="appDesc2">
                                    <div class="qSectionLine">• Once the app is
                                        successfully compiled you can run it
                                        using
                                        Android
                                        Studio Emulator (virtual device).
                                    </div>
                                    <div class="qSectionLine">• Please follow link
                                        to know more about creating and
                                        managing
                                        Android
                                        Virtual device using Android Studio.
                                    </div>
                                    <div class="qSectionLine">• Click on RunRun
                                        ‘app’ on the toolbar or press ctrl+R.
                                    </div>
                                    <div class="qSectionLine">• Select available
                                        virtual device or create a new one.
                                    </div>
                                    <div class="qSectionLine">• You should be able
                                        to see the Demo App running in
                                        Virtual
                                        Device.
                                    </div>
                                    <div class="qSectionLine">• Alternatively, you
                                        may create an apk file by clicking
                                        BuildBuild APK
                                        and install on real Android device.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="deviceSpecification">
    <div class="container">
        <div class="row deviceSpecContent">
            <div class="displayFlex">
                <h2 class="pb-underline magenta-text">
                    Device Specifications
                </h2>
            </div>
            <h3 style="color:white">Send Pro &reg; C-Series</h3>
            <div class="col-md-8"></div>
            <div class="col-md-4 col-md-offset-0">
                <div class="deviceSpecCard">
                    <h3 style="color:#3e53a4;font-weight: normal" class="subheading pb-underline">Hardware
                        Specifications</h3>
                    <div class="appDescDevice">
                        <div class="qSectionLine" style="font-weight: bold">
                            • Tablet: 7’ multitouch screen (Android)
                        </div>
                        <div class="qSectionLine" style="font-weight: bold">
                            • Tablet resolution: 1024X552
                        </div>
                        <div class="qSectionLine" style="font-weight: bold">
                            • Density: 160 dpi
                        </div>
                        <div class="qSectionLine" style="font-weight: bold">
                            • OpenGL ES 3.0
                        </div>
                        <div class="qSectionLine" style="font-weight: bold">
                            • RAM: 1GB
                        </div>
                        <div class="qSectionLine" style="font-weight: bold">
                            • Java Heap: 128 MB
                        </div>
                        <div class="qSectionLine">
                            • Integrated Wi-Fi, Bluetooth
                        </div>
                        <div class="qSectionLine">
                            • Integrated micro USB port that supports simultaneous
                            charging and data transfer
                            USB 2.0 micro USB compatibility with DC Power Jack
                            capable of delivering 5 vdc @2Amps
                            minimum.
                        </div>
                        <div class="qSectionLine">
                            • Future: Integrated micro USB and 5v Power Jack can be
                            replaced by Integrated USB 3.0
                            Type-C USB
                            port
                            that supports simultaneous charging and data transfer
                            The Meter Base can supply 5v @2A to the tablet.
                        </div>
                        <div class="qSectionLine">
                            • No GPS or Accelerometer sensing devices.
                        </div>
                        <div class="qSectionLine">
                            • From facing Camera
                        </div>
                        <div class="qSectionLine">
                            • No Microphone
                        </div>
                        <div class="qSectionLine" style="text-align: center">
                            <button class="btn btn-circle pinkButt">Learn More
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="downloadCatlog">
    <div class="container">
        <div class="btnWrapper">
            <h2>PB Startup Pack for SMBs</h2>
            <a href="" class="magenta-btn">Download PB Startup Catalog</a>
        </div>
    </div>
</section>
<!-- <footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="pblogo">
                    <img src="images/Group 23.png">
                </div>
            </div>
            <div class="col-md-2">
                <h5>About Pitney bowes</h5>
                <a href="">Our Company</a>
                <a href="">Newsroom</a>
            </div>
            <div class="col-md-2">
                <h5>Shop</h5>
                <a href="">Postage Meters</a>
                <a href="">Online Postage</a>

            </div>
            <div class="col-md-2">
                <h5>Customer Service</h5>
                <a href="">View & Pay Bills</a>
                <a href="">Product Support</a>

            </div>
            <div class="col-md-2">
                <h5>Follow Us</h5>
                <div class="socialLinks">
                    <div class="icon">
                        <a href=""><img src="images/1-FB.png"></a>
                    </div>
                    <div class="icon">
                        <a href=""><img src="images/2-gplus.png"></a>
                    </div>
                    <div class="icon">
                        <a href=""><img src="images/3-Twitter.png"></a>
                    </div>
                    <div class="icon">
                        <a href=""><img src="images/4-Linkdin.png"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <h5>1996-2017 Pitney Bowes Inc. All rights reserved.</h5>
                <a href="">Legal</a>
                <a href="">Privacy Statement</a>

            </div>
        </div>
    </div>
</footer> -->
